<h1>Appointment Details:</h1>
<div>When: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></div>
<div>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient_id) %></div>
<div>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor_id) %></div>
